#description,#compare {
    font-family: 'Montserrat',sans-serif;
    color: #fcfdff;
    font-weight: 300;
}

#todayCounter,#mostTalkativeUser {
    font-family: 'Montserrat',sans-serif;
    font-size: 3em;
    color: #424242;
}

#yesterdayCounter {
    font-family: 'Montserrat',sans-serif;
    font-size: 3em;
    color: #424242;
}

#title {
    font-family: 'Montserrat',sans-serif;
    font-size: 3.5em;
    color: #fff;
    font-weight: 300;
}

#teamNameStyle {
    font-size: 62pt;
}

body {
    background: #443642;
    font-family: 'Montserrat',sans-serif;
    margin: 2em;
}

#wrapper {
    width: 100%;
    clear: both;
}

.colour1 {
    background-color: #3EB890;
    width: 25%;
    height: 50%;
    float: left;
    padding: 10px;
    margin: 10px;
}

.colour2 {
    background-color: #70CADB;
    width: 25%;
    height: 50%;
    float: left;
    padding: 10px;
    margin: 10px;
}

.colour3 {
    background-color: #E01765;
    width: 25%;
    height: 50%;
    float: left;
    padding: 10px;
    margin: 10px;
}

.data {
    font-size: 7em !important;
    line-height: .4;
    color: #fff !important;
}