/* Primary stylesheet for Slack Statistics */

/* General Site Styles */
html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}

/* Description and Statistics Styles */

#description {
    margin-top: -1.5em;
}
#description, #compare, #compare2 {
    color: #fcfdff;
    font-weight: 300;
    font-size: 1.5em;
}
#todayCounter, #yesterdayCounter, #medalTitles {
    font-size: 5em;
    color: #424242;
}

 #medalTitles {
    font-size: 2em;
    color: #424242;
}

#mostTalkativeUser {
    font-size: 3em;
    color: #424242;
}

/* Header and Wrapper Styles */

#title {
    font-size: 3.5em;
    color: #fff;
    font-weight: 300;
}
.header {
    color: white;
    line-height: 0.9;
    margin-top: 0.2em;
}
body {
    background: #443642;
    font-family: 'Montserrat', sans-serif;
    margin: 2em;
}
#wrapper {
    display: inline-block;
    clear: both;
}

/* Colour Set Styles */

.colour1 {
    background-color: #70CADB;
    width: 50vh;
    height: 50vh;
    float: left;
    padding: 10px;
    margin: 10px;
}
.colour2 {
    background-color: #3EB890;
    width: 50vh;
    height: 50vh;
    float: left;
    padding: 10px;
    margin: 10px;
}
.colour3 {
    background-color: #E01765;
    width: 50vh;
    height: 50vh;
    float: left;
    padding: 10px;
    margin: 10px;
}

/* Medal Set Styles */

.bronze {
    background-color: #965A38;
    width: 50vh;
    height: 30vh;
    float: left;
    padding: 10px;
    margin: 10px;
}

.silver {
    background-color: #A8A8A8;
    width: 50vh;
    height: 30vh;
    float: left;
    padding: 10px;
    margin: 10px;
}

.gold {
    background-color: #D9A441;
    width: 50vh;
    height: 30vh;
    float: left;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 2px 40px #fff;
}

.medalText {
  line-height: 0.4;
  color: white;
  font-weight:300;
  font-size:2.5em;
}

/* Data and Welcome Styles */
.data {
    font-size: 6em;
    line-height: .8;
    word-wrap: break-word;
    color: #fff !important;
}
.welcomeMessage {
    color: #fff;
    font-weight: 300;
}

#messages1, #messages2, #messages3 {
    font-weight: bolder;
}
